{% extends 'food/base.html' %}
{% load static %}
{% block content %} 
    <div class="slider-wrap no-slanted">
      <div class="slider-item" style="background-image: url('{% static 'food/img/hero_1.jpg' %}');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 ">
              <h1 data-aos="fade-up">About Foody</h1>
              <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Handcrafted with love by <a href="https://free-template.co" target="_blank">Free-Template.co</a></p>
              <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Get Started</a></p>
            </div>
          </div>
        </div>

      </div>
    <!-- END slider -->
    </div> 
    


    <section class="section pt-5 top-slant-white2 relative-higher">
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade">
            <div class="col-md-7 text-center heading-wrap">
              <h2 data-aos="fade-up">The Restaurant</h2>
              <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        <div class="row align-items-center mb-5">
          <div class="col-lg-4">
            <img src="{% static 'food/img/dishes_1.jpg' %}" alt="Free website template by Free-Template.co" class="{% static 'food/img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
          </div>
          <div class="col-lg-4">
            <img src="{% static 'food/img/about_1.jpg' %}" alt="Free website template by Free-Template.co" class="{% static 'food/img-fluid about_img_1" data-aos="fade" data-aos-delay="300">
            <img src="{% static 'food/img/about_2.jpg' %}" alt="Free website template by Free-Template.co" class="{% static 'food/img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
          </div>
          <div class="col-lg-4">
            <img src="{% static 'food/img/dishes_3.jpg' %}" alt="Free website template by Free-Template.co" class="{% static 'food/img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 ml-auto">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
          <div class="col-md-6 ml-auto">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section bg-light top-slant-white">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Chefs</h2>
            </div>
          </div>
        </div>
      </div>
        <div class="container">
          <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
              <div>
                <div class="media d-block media-custom text-center">
                  <a href="#"><img src="{% static 'food/img/person_1.jpg' %}" alt="Image Placeholder" class="{% static 'food/img-fluid"></a>
                  <div class="media-body">
                    <h3 class="mt-0 text-black">Mellisa Howard</h3>
                    <p class="lead">CEO, Co-Founder</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <a href="#"><img src="{% static 'food/img/person_2.jpg' %}" alt="Image Placeholder" class="{% static 'food/img-fluid"></a>
                  <div class="media-body">
                    <h3 class="mt-0 text-black">Mike Richardson</h3>
                    <p class="lead">CEO, Co-Founder</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="media d-block media-custom text-center">
                  <a href="#"><img src="{% static 'food/img/person_3.jpg' %}" alt="Image Placeholder" class="{% static 'food/img-fluid"></a>
                  <div class="media-body">
                    <h3 class="mt-0 text-black">Charles White</h3>
                    <p class="lead">CEO, Co-Founder</p>
                  </div>
                </div>
              </div>

               <div>
              <div class="media d-block media-custom text-center">
                <a href="#"><img src="{% static 'food/img/person_1.jpg' %}" alt="Image Placeholder" class="{% static 'food/img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Mellisa Howard</h3>
                  <p class="lead">CEO, Co-Founder</p>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="#"><img src="{% static 'food/img/person_2.jpg' %}" alt="Image Placeholder" class="{% static 'food/img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Mike Richardson</h3>
                  <p class="lead">CEO, Co-Founder</p>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="#"><img src="{% static 'food/img/person_3.jpg' %}" alt="Image Placeholder" class="{% static 'food/img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Charles White</h3>
                  <p class="lead">CEO, Co-Founder</p>
                </div>
              </div>
            </div>
            
              
          </div>
          <!-- END slider -->
          </div>
        </div>
      
    </section> <!-- .section -->
    

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#cf1d16"/></svg></div>

    <script src="{% static 'food/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'food/js/popper.min.js' %}"></script>
    <script src="{% static 'food/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'food/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'food/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'food/js/aos.js' %}"></script>

    <script src="{% static 'food/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'food/js/magnific-popup-options.js' %}"></script>
    

    <script src="{% static 'food/js/main.js' %}"></script>
    
  </body>
</html>
{% endblock %}